@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
    direction: rtl !important;
  }
  
.ltr {
    direction: ltr !important;
}

.slick-prev:before,
.slick-next:before {
  color: #ae9560 !important;
}

::-webkit-scrollbar {
  display: none;
}